@model WorkoutData.Person

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="page-header">
        <h1>Create User</h1>
    </div>

    <div class="container">
        @using (Html.BeginForm("Create", "Login", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <div class="form-group">
                @Html.LabelFor(p => p.PersonLogin.EmailAddress, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-6">@Html.TextBoxFor(p => p.PersonLogin.EmailAddress, new { id="tbemail", @class = "form-control" })</div>
                <div class="col-sm-4">
                    <div id="msgemail" style="display:none;color:red;">Exists</div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(p => p.Handle, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-6">@Html.TextBoxFor(p => p.Handle, new { id="tbhandle", @class = "form-control" })</div>
                <div class="col-sm-4">
                    <div id="msghandle" style="display:none;color:red;">Exists</div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(p => p.FirstName, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">@Html.TextBoxFor(p => p.FirstName, new { @class = "form-control" })</div>
            </div>
            <div class="form-group">
                @Html.LabelFor(p => p.LastName, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">@Html.TextBoxFor(p => p.LastName, new { @class = "form-control" })</div>
            </div>
            <div class="form-group">
                @Html.LabelFor(p => p.BirthDate, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">@Html.TextBoxFor(p => p.BirthDate, new { @class = "form-control" })</div>
            </div>
            <div class="form-group">
                @Html.LabelFor(p => p.PersonLogin.Password, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">@Html.PasswordFor(p => p.PersonLogin.Password, new { @class = "form-control" })</div>
            </div>
            <input type="submit" value="Create" id="btncreate" />
        }
    </div>

    <script src="~/Scripts/jquery-2.0.3.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.3.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/View/Account/Create.js"></script>

</body>
</html>
